.ServicesSection {
   .service {
      width: 85%;
      background-color: #2e344e;
      border-left: 1px solid #2e344e;
      border-right: 1px solid #2e344e;
      border-top: 10px solid #191d2b;
      border-bottom: 1px solid #2e344e;
      transition: all .4s ease-in-out;

      @media screen and (max-width: 1400px) {
         margin-bottom: 1rem;
         width: 100%;
      }

      &:hover {
         border-top: 10px solid #037fff;
      }

      .service-content {
         padding: 1rem;

         .s-title {
         font-size: 1.8rem;
         font-weight: 500;
         position: relative;
         padding-bottom: 1rem;
         margin: 1rem 0;
         &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20%;
            height: 1px;
            background-color: #191d2b;
         }
         }
      }

      img {
         height: 3.5rem;
      }
   }
}

.services-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 0rem;
   margin-top: 4rem;
   margin-bottom: 4rem;

   @media screen and (max-width: 1400px) {
      grid-template-columns: repeat(1, 1fr);
   }
}

.project-container {
   padding-bottom: 1rem;

   .s-sub-title {
      font-size: 1.3rem;
      font-weight:700;
      color: rgb(19, 82, 218);
      text-decoration: none;
   }

   .s-text {
      font-style: italic;
   }
}