.WorksSection {
   .work{
      width: 85%;
      background-color: #2e344e;
      border-left: 1px solid #2e344e;
      border-right: 1px solid #2e344e;
      border-top: 10px solid #191d2b;
      border-bottom: 1px solid #2e344e;
      transition: all .4s ease-in-out;
      &:hover {
         border-top: 10px solid #037fff;
      }

      .work-content {
         padding: 1rem;

         .w-title {
         font-size: 1.8rem;
         font-weight: 500;
         position: relative;
         padding-bottom: 1rem;
         margin: 1rem 0;
         &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20%;
            height: 1px;
            background-color: #191d2b;
         }
         }
      }

      img {
         height: 3.5rem;
      }
   }
}